.hljs.csharp .hljs-keyword { color: #0000ff }
.hljs.csharp .hljs-title { color: #007700; }
.hljs.csharp .hljs-number { color: #aaaa00; }
.hljs.csharp .hljs-char { color: #006677; }
.hljs.csharp .hljs-string { color: #006677; }
.hljs.csharp .hljs-literal { color: #0000ff; }